body{
  font-family: 'Raleway', sans-serif;
}
#wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: brown;
  transition: all 1s ease;
  padding: 20px;
}
@keyframes example {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
#quote-box{
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
}
#quote-text{
  display: flex;
  justify-content: center;
  align-items: center;
}
#text{
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  transition: all 1s ease;
}
#quote-author{
  display: flex;
  justify-content: end;
  font-size: 1.1em;
}
#author{
  transition: all 1s ease;
}
#quote-buttons{
  display: flex;
  justify-content: space-between;
}
#media-button{
  display: flex;
  gap: 10px;
}
#tweet-quote, #tumblr-quote{
  font-size: large;
}
button{
  padding: 10px 15px;
  color: white;
  background-color: brown;
  border-radius: 5px;
  border: none;
  font-size: 1.1em;
  transition: all 1s ease;
}
a{
  text-decoration: none;
  color: white;
}
